.texto{
  padding-left: 50vh;
  justify-content: center;
  font-size: 60px;
  margin: 0px;
  color: white;
  text-shadow: 0px 0px 4px black;
  
  }
  .texto-1
  {
   font-size: 100px;
  }
  .Texto1 
  {
    background: #E2E2E2;
    height: 140px;
    width: 270px;
    padding-left: 40px;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 13px;
    box-shadow: 0px 2px 7px#E2E2E2;
  }
  

  .color
  {
    background: #00C2FF;
    height: 85vh;
    width: 100%;
    
   
  }
  
  .contenedor{
    
    margin-top: 100px;
   
  }

.foto {
  height: 320px;
  margin-left: 115px;
}

.foto1 {
  
  height: 70px;
  display: inline;
  margin-left: 1000px;
  
}

.Navegacion
{
background: #598D8B;
width: 100%;
height: 15vh;
position: relative;

}
.Marca
{
  display: inline;
  margin-left:20px;
  color: white;
  font-weight: lighter;
}
.Marca-1
{
  font-size: 30px;
  
}
.Navegacion1
{
  display: flex;
  align-items: center;
  
}
.Navegacion2
{
padding-left: 370px;
  
}


.Barra
{
  margin-left: 20px;
  
}

.column {
  float: left;
  
  padding: 10px;
  
}


.row:after {
  content: "";
  display: table;
  clear: both;
  
}

* {
  box-sizing: border-box;
}

.Boton
{
  font-family: "Oswald-Regular";
  background-color :#6CD1AB;
  color: white;
  font-size: 40px;
  border:none;
  border-radius: 10px;
  box-shadow: 0px 2px 5px black;
  width: 200px;
  margin-left: 310px;
}

.no-tareas{
  text-align: center;
  margin-top: 50px;
}

.row {
  margin: 0px;
}