.boton{
    cursor: pointer;
    background-color: #598D88 ;
    float: right;
    border: none;
    margin-top: 40px;
    margin-right:20px;
     border-radius: 40%;
     font-size: 30px;
     width: 50px;
     height: 50px;
     font-weight: 600;
     box-shadow: 0px 2px 5px white;
}



