.formulario{
    margin-left: 36%;
    width: 28%;
    background: #f3f3f3;
   
    border-radius: 10px;
    box-shadow: 0px 2px 5px #707070;
    font-family: Oswald;
}

.form-group{
    margin: 0 15%;
}

.input-crear{
    margin-left: 20px;
    width: 90%;
    padding: 10px;
    border-radius: 13px;
    height: 70px;
    border: none;
    border-color: #707070;
    box-shadow: 0px 2px 5px #707070;
    font-weight: 600;
}
.text-crear{
    margin-left: 25px;
    font-size: 1.8em;
}
.boton-crear{
    
    background-color: #6cd1ab;
    color: white;
    width: 80%;
    padding: 30px;
    font-size: 1.8em;
    line-height: 0;
    font-weight:bold;
    border: none;
    box-shadow: 0px 7px px #707070;
    border-radius: 10px;
    margin:  0 10%;
    
}
.boton-crear1{
    
    background-color: #6cd1ab;
    color: white;
    width: 70%;
    padding: 30px;
    font-size: 1.8em;
    line-height: 0;
    font-weight:bold;
    border: none;
    box-shadow: 0px 7px px #707070;
    border-radius: 10px;
    margin:  0 19%;
    
}
.altura{
    margin-top: 70px;
}
.div{
    background-color: red;
}
