.perfil{
    background-color: white;
    font-family: Oswald;
    font-size: 1.5rem;
}
.divPerfil{
    width: 30%;
    background-color: #F3F3F3;
    box-shadow: 1px 3px 1px #00000070;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 20px;
}
.padre{
    margin-bottom: 50px;
    margin-left: 20px;
    padding: 15px;
    
}

.inputPefil{
    margin-bottom :20px;
    border: none;
    box-shadow: 1px 3px 1px #00000070;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    
}
.inputPefil:focus, .butonPerfil:focus{
    outline: none;
}

.butonPerfil{
    margin-top: 20px;
    width: 100%;
    border: none;
    background-color: #6CD1AB;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 1px 3px 1px #00000070;
}

.input-editar{
    border-radius: 12px;
    height:  70px;
    width: 270px;
    margin-bottom: 20px;
    border-color: #707070;
    box-shadow: 0px 2px 5px #707070;
    font-weight: 600;
}
.text-editar{
    font-weight: 600;
}

.formulario-editar{
    margin-left: 36%;
    width: 28%;
    background: #f3f3f3;
    padding: 2% 0;
    border-radius: 10px;
    margin-top: 30px;
    box-shadow: 0px 2px 5px #707070;
}
