
.negrita{
    font-weight: 600;
}

.equis{
    position: relative;
    width: 25px;
    height: 30px;
    border-radius: 20px;
    background: red;
    text-align: -webkit-center;
    color: white;
    box-shadow: 0 2px 5px black;
    margin-top: 1px;
    margin-left: 210px;
    font-weight: 600;

}
.equis:hover{
    cursor: pointer;
}

.contenedorTarea{
    margin-top: 101px;
}